<%- include ("./partials/head.ejs",{cssHome:"style_home.css",cssPage:"style_home.css"}) %> 
  <body>
<%- include ("./partials/header.ejs") %> 
    <main>
      <div class="img-conteiner">
        <img class="baners" src="../images/carrusel.jpg" alt="" />
      </div>
      <section>
        <h2 class="armamos-tu-setup"><b> Armamos </b> Tu Setup</h2>
        <div class="img-conteiner">
          <img class="baners" src="../images/parts.jpg" alt="" />
        </div>
      </section>

      <a class="boton_random" href="/products"><button>   <h3>Todos los Productos</h3> </button></a>

      <section class="Destacados">
        <h2 class="armamos-tu-setup">Productos de
          <b>  Tope  </b> de gama
        </h2>
        

                  
                  
                  <% for (i=0 ; i<product.length; i++) { %> 
                    <% if (product[i].target.name== "Tope de Gama") { %>
                     
                   
                    <article class="product">
                      <div>
                        <a href="./products/Detalle/<%=product[i].id%>"
                          ><img src="../images/products/<%=product[i].image%>" alt="<%=product[i].name%>"
                          /></a>
                          <div class="descripcion">
                            <div>Modelo:<%=product[i].model%></div>
                            <div>Categoria:<%=product[i].category.namegit%></div>
              <div>Precio:$<%=product[i].price%></div>

            </div>
            <div class=""></div>
            <button class="add">Agregar al carrito</button>
          </div>
        </article>
         <% } %>

        <% } %>
        
      </section>


            <section class="Destacados">
        <h2 class="armamos-tu-setup">Productos 
          <b>  Gamer  </b>
        </h2>
        


                  
                  <% for (i=0 ; i<product.length; i++) { %> 
                    <% if (product[i].target.name== "Gamer") { %>
                     
                   
                    <article class="product">
                      <div>
                        <a href="./products/Detalle/<%=product[i].id%>"
                          ><img src="/images/products/<%=product[i].image%>" alt="<%=product[i].name%>"
                          /></a>
                          <div class="descripcion">
                            <div>Modelo:<%=product[i].model%></div>
                            <div>Categoria:<%=product[i].category.name%></div>
              <div>Precio:$<%=product[i].price%></div>

            </div>
            <div class=""></div>
            <button class="add">Agregar al carrito</button>
          </div>
        </article>
         <% } %>

        <% } %>
        
      </section>
        



      <section class="categorias">
        <h2><b> Categorias </b></h2>
        <div class="categorias_conteiner">
          <% let category = [] %>
          <% for ( i=0; i<product.length; i++) { %>
          <%  if  (!category.includes(product[i].category.name)) { %>
           <%   category.push(product[i].category.name) %>
           <% } %>
           <% } %> 
           

            <% for (i=0;i<category.length;i++) { %>
          <article class="categoria">
            <div class="imagen">
              <img src="../images/icon-motherboard.svg" alt="Motherboard" />
            </div>
            <div class="nombre"><%=category[i]%> </div>
          </article>
          <% } %> 
        </div>
      </section>
    </main>
    <%- include ("./partials/footer.ejs") %> 

  </body>
</html>
