<%- include ("../partials/head.ejs",{cssPage:"productEdit.css",cssHome:"style_home.css"}) %> 
<body>

  <%- include ("../partials/header.ejs") %> 
  <main>
    <section >
    <form action="./login" method="post" class="formulario" >
      <h2 class="Titulo"> <b>Login</b></h2>

      
             <label class ="labelform
             " for="email"><div class="negrita">Email</div></label>
        <input class="input <%= locals.errors && locals.errors.email ? "error" : "" %>"  type="email"   name="email" id="email" placeholder="email"
        value="<%=  locals.old && old.email  ?  old.email : "" %>">

          <b><%= locals.errors && locals.errors.email ? errors.email.msg : "" %> </b>

             <label class ="labelform
             " for="manufacturer"><div class="negrita">Password</div></label>
        <input class="input <%= locals.errors && locals.errors.password ? "error" : "" %>"  type="Password" name="password" id="password" placeholder="*******">
        <b><%= locals.errors && locals.errors.password ? errors.password.msg : "" %> </b>

                    <div>
      <input type="checkbox" value="recuerdame" name="recuerdame">
    <label for="recuerdame">Recuerdame</label>
    </div>

    <br>
    <b><%= locals.errors && locals.errors.msg ? errors.msg : "" %> </b>


        
        <button class="input" type="submit">Entrar</button>

  


          <a class="input"  href="/users/register">Registrarse</a>
      

          


      </form>

    </section >

  </main>






  <%- include ("../partials/footer.ejs") %> 
</body>
</html>