<%- include ("../partials/head.ejs",{cssPage:"productEdit.css",cssHome:"style_home.css"}) %> 
<body>

  <%- include ("../partials/header.ejs") %> 
  <main>
    <section >
    <form action="./login" method="post" class="formulario" enctype="multipart/form-data">
      <h2 class="Titulo"> <b>Login</b></h2>



      
             <label class ="labelform
             " for="nombre"><div class="negrita">Email</div></label>
        <input class="input <%= locals.mensajesDeError && locals.mensajesDeError.Email ? "error" : "" %>"  type="Email" name="user" id="firstname" placeholder="Email"
        value="<%=  locals.old && old.Email  ?  old.Email : "" %>">

          <b><%= locals.mensajesDeError && locals.mensajesDeError.Email ? mensajesDeError.Email.msg : "" %> </b>

             <label class ="labelform
             " for="manufacturer"><div class="negrita">Password</div></label>
        <input class="input <%= locals.mensajesDeError && locals.mensajesDeError.lastname ? "error" : "" %>"  type="Password" name="password" id="lastname" placeholder="*******">
        <b><%= locals.mensajesDeError && locals.mensajesDeError.password ? mensajesDeError.password.msg : "" %> </b>

                    <div>
      <input type="checkbox" value="recuerdame" name="recuerdame">
    <label for="recuerdame">Recuerdame</label>
    </div>
        
        <button class="input" type="submit">Entrar</button>

  


      </form>
    </section >

  </main>






  <%- include ("../partials/footer.ejs") %> 
</body>
</html>