<%- include ("../partials/head.ejs",{cssPage:"productEdit.css",cssHome:"style_home.css"}) %> 
<body>

  <%- include ("../partials/header.ejs") %> 
  <main>
    <section >
    <form action="./register" method="post" class="formulario" enctype="multipart/form-data">
      <h2 class="Titulo">Tu <b>Producto</b></h2>



      
             <label class ="labelform
             " for="nombre"><div class="negrita">Nombre</div></label>
        <input class="input <%= locals.mensajesDeError && locals.mensajesDeError.firstname ? "error" : "" %>"  type="text" name="first_name" id="first_name" placeholder="Nombre"
        value="<%=  locals.old && old.firstname  ?  old.firstname : "" %>">

          <b><%= locals.mensajesDeError && locals.mensajesDeError.firstname ? mensajesDeError.firstname.msg : "" %> </b>

             <label class ="labelform
             " for="manufacturer"><div class="negrita">Apellido</div></label>
        <input class="input <%= locals.mensajesDeError && locals.mensajesDeError.lastname ? "error" : "" %>"  type="text" name="last_name" id="last_name" placeholder="Apellido" value="<%= locals.old && old.lastname  ?  old.lastname : "" %>">
        <b><%= locals.mensajesDeError && locals.mensajesDeError.lastname ? mensajesDeError.lastname.msg : "" %> </b>

              <label class ="labelform
             " for="model"><div class="negrita">Email</div></label>
        <input class="input <%= locals.mensajesDeError && locals.mensajesDeError.email ? "error" : "" %>"  type="text" name="email" id="email" placeholder="Email"
        value="<%= locals.old && old.email  ?  old.email : "" %>">
         <b><%= locals.mensajesDeError && locals.mensajesDeError.email ? mensajesDeError.email.msg : "" %> </b>

             <label class ="labelform
             " for="description"><div class="negrita">Contraseña</div></label>
        <input class="input <%= locals.mensajesDeError && locals.mensajesDeError.password ? "error" : "" %>"  type="password" name="password" id="password" cols="30" rows="10"  placeholder="Dale, no pongas 1234" >
         <b><%= locals.mensajesDeError && locals.mensajesDeError.password ? mensajesDeError.password.msg : "" %> </b>

        <label class ="labelform" for="model"><div class="negrita">Telefono</div></label>
        <input class="input <%= locals.mensajesDeError && locals.mensajesDeError.phone ? "error" : "" %>"  type="text" name="phone" id="phone" placeholder="Telefono" value="<%=locals.old && old.phone  ?  old.phone : "" %>">
         <b><%= locals.mensajesDeError && locals.mensajesDeError.phone ? mensajesDeError.phone.msg : "" %> </b>


             <label class ="labelform" for="model"><div class="negrita">Codigo Postal</div></label>
        <input class="input <%= locals.mensajesDeError && locals.mensajesDeError.zip ? "error" : "" %> "  type="text" name="zip" id="zip" placeholder="Codigo Postal" value="<%=locals.old && old.zip  ?  old.zip : "" %>">
         <b><%= locals.mensajesDeError && locals.mensajesDeError.zip ? mensajesDeError.zip.msg : "" %> </b>



        <label class ="labelform
        " for="image"><div class="negrita"> <b>Avatar</b></div></label>
        <input  class="input <%= locals.mensajesDeError && locals.mensajesDeError.image ? "error" : "" %>" type="file" name="image" id="image" value="<%= locals.old && old.lastname  ?  old.image : "" %>">
         <b><%= locals.mensajesDeError && locals.mensajesDeError.image ? mensajesDeError.image.msg : "" %> </b>


      
         <label class ="labelform


         " for="category"><div class="negrita">Target</div></label>
         <select class="input"  name="category" value="" id="target">

        <% for( let i = 0; i < categorys.length; i++ ) { %>
          <option class="input"  name="category" value="<%=categorys[i].id%>" ><%=categorys[i].name%></option>
        <% } %>
 
         </select>


        <label class ="labelform" for="address"><div class="negrita">Direccion</div></label>
        <input class="input <%= locals.mensajesDeError && locals.mensajesDeError.address ? "error" : "" %> "  type="text" name="address" id="address" placeholder="Direccion value="<%=locals.old && old.address  ?  old.address : "" %>">
         <b><%= locals.mensajesDeError && locals.mensajesDeError.address ? mensajesDeError.address.msg : "" %> </b>

               
        
        <button class="input" type="submit">Registrarse</button>


      </form>
    </section >

  </main>






  <%- include ("../partials/footer.ejs") %> 
</body>
</html>