<%- include ("../partials/head.ejs",{cssPage:"productEdit.css",cssHome:"style_home.css"}) %> 
<body>

  <%- include ("../partials/header.ejs") %> 
  <main>
    <section >
    <form action="/products/Edicion/<%=product.id%>?_method=PUT" method="post" class="formulario" enctype="multipart/form-data">
      <h2 class="Titulo">Tu <b>Producto</b></h2>

      

             <label class ="labelform
             " for="nombre"><div class="negrita">Nombre</div></label>
        <input class="input"  type="text" name="name" id="name" value="<%=product.name%>">

  

                <label class ="labelform" for="brand"><div class="negrita">Marca</div></label>
        <select class="input"  name="brand"  id="brand">

           <% for( let i = 0; i < brands.length; i++ ) { %>

            <option class="input"  name="target" value="<%=brands[i].id%>" <% if (product.id_brand == brands[i].id) { %> selected <% } %>>
               <%=brands[i].name%>
              </option>
           <% } %>
        </select>



              <label class ="labelform
             " for="model"><div class="negrita">Modelo</div></label>
        <input class="input"  type="text" name="model" id="model" value="<%=product.model%>">

             <label class ="labelform
             " for="description"><div class="negrita">Descripcion</div></label>
        <input class="input"  name="description" id="description" cols="30" rows="10"  value="<%=product.description%>">

        <label class ="labelform
        " for="image"><div class="negrita">Imagen del <b>Producto </b></div></label>
        <img class ="imagen" src="../../../images/products/<%=product.image%>" alt="ACAA">
        <input  class="input" type="file" name="image" id="image" >


      <label class ="labelform
      " for="price"><div class="negrita">Precio</div></label>
        <input  class="input" type="text" name="price" id="price" value="<%=product.price%>">

      


         <label class ="labelform" for="target"><div class="negrita">Target</div></label>
        <select class="input"  name="target"  id="target">

           <% for( let i = 0; i <targets.length; i++ ) { %>
            <option class="input"  name="target" value="<%=targets[i].id%>" <% if (product.id_target == targets[i].id) { %> selected <% } %>> <%=targets[i].name%></option>
           <% } %>
        </select>
   

          <label class ="labelform" for="category"><div class="negrita">Categoria</div></label>
        <select class="input"  name="category"  id="target">
           <% for( let i = 0; i < categorys.length; i++ ) { %>
            <option class="input"  name="category" value="<%=categorys[i].id%>" <% if (product.id_product_category == categorys[i].id) { %> selected <% } %>> <%=categorys[i].name%></option>
           <% } %>
        </select>
        


      <label class ="labelform
      " for="price"><div class="negrita">Garantia</div></label>
        <input  class="input" type="text" name="warranty" id="warranty" value="<%=product.warranty%>">

      

        
        
        <button class="input" type="submit">Guardar Edicion</button>


      </form>
    </section >

  </main>






  <%- include ("../partials/footer.ejs") %> 
</body>
</html>