<%- include ("../partials/head.ejs",{cssHome:"style_home.css",cssPage:"style_home.css"}) %> 
  <body>
<%- include ("../partials/header.ejs") %> 
    <main>

      <section class="Destacados">
        <h2 class="armamos-tu-setup">
           Nuestros <b> Productos </b>
        </h2>

        <% for (i=0 ; i<products.length; i++) { %> 
          <article class="product">
          <div>
            <a href="./products/Detalle/<%=products[i].id%>"
              ><img src="/images/products/<%=products[i].image%>" alt="Gpu"
            /></a>
            <div class="descripcion">
              <div>Descripcion:<%=products[i].description%></div>
              <div>Modelo:<%=products[i].model%></div>
              <div>Categoria:<%=products[i].category.name%></div>
              <div>Precio:$<%=products[i].price%></div>

            </div>
            <div class=""></div>
            <button class="add">Agregar al carrito</button>
          </div>
        </article>
          <% } %>

      </section>

              <a href="../products/Creacion" class="boton_random"><button><h3>AGREGAR</h3></button></a>


    </main>
    <%- include ("../partials/footer.ejs") %> 
  </body>
</html>
