<%- include ("../partials/head.ejs",{cssPage:"productEdit.css",cssHome:"style_home.css"}) %> 
<body>

  <%- include ("../partials/header.ejs") %> 
  <main>
    <section >
    <form action="./Creacion" method="post" class="formulario" enctype="multipart/form-data">
      <h2 class="Titulo">Tu <b>Producto</b></h2>

      
             <label class ="labelform
             " for="nombre"><div class="negrita">Nombre</div></label>
        <input class="input"  type="text" name="name" id="name" placeholder="Nombre del Producto">

             <label class ="labelform
             " for="brand"><div class="negrita">Marca</div></label>
             <select class="input"  name="brand" id="manufacturer" placeholder="Marca del Producto">
             <% for( let i = 0; i < brands.length; i++ ) { %>
               <option class="input"  name="brand" value="<%=brands[i].id%>"><%=brands[i].name%></option>
             <% } %>
             </select>

              <label class ="labelform
             " for="model"><div class="negrita">Modelo</div></label>
        <input class="input"  type="text" name="model" id="model" placeholder="Marca del Producto">

             <label class ="labelform
             " for="description"><div class="negrita">Descripcion</div></label>
        <textarea class="input"  name="description" id="description" cols="30" rows="10"  placeholder="Tu descripcion aca"></textarea>

        <label class ="labelform
        " for="image"><div class="negrita">Imagen del <b>Producto</b></div></label>
        <input  class="input" type="file" name="image" id="image">


      <label class ="labelform
      " for="price"><div class="negrita">Precio</div></label>
        <input  class="input" type="number" name="price" id="price" placeholder="Precio">

      


         <label class ="labelform" for="target"><div class="negrita">Target</div></label>
        <select class="input"  name="target" value="" id="target">
           <% for( let i = 0; i < targets.length; i++ ) { %>
            <option class="input"  name="target" value="<%=targets[i].id%>" id="home"><%=targets[i].name%></option>
           <% } %>
         
        </select>



        <label class ="labelform" for="category"><div class="negrita">Categoria</div></label>
        <select class="input"  name="category" id="category">
           <% for( let i = 0; i < categorys.length; i++ ) { %>
            <option class="input"  name="category" value="<%=categorys[i].id%>"><%=categorys[i].name%></option>
           <% } %>

        </select>
        


        <label class ="labelform" for="warranty"><div class="negrita">Garantia</div></label>
        <input class="input"  type="text" name="warranty" id="warranty" placeholder="Meses de Garantia">

        
        
        <button class="input" type="submit">Crear Producto</button>


      </form>
    </section >

  </main>






  <%- include ("../partials/footer.ejs") %> 
</body>
</html>