<%- include ("../partials/head.ejs",{cssPage:"style-detailprdct.css",cssHome:"style_home.css"}) %> 
<body>

  <%- include ("../partials/header.ejs") %> 

    <main>
      <article class="productoExibido">
        <div class="infoStack">
          <div class="nombreProducto">
            <h2><%= product.name   %> </h2>
          </div>
          <div class="descripcionProducto">
            <ul class="disc">
              <li><%=product.description  %> </li>
              <li>Calidad:<%=product.target  %> </li>

            </ul>
          </div>
          <div class="preciosProducto">
            <div>
              <h3><%=product.price%></h3>
            </div>

          <div class="botonCompra">
            <button type="add">Agregar al carrito</button>
          </div>
          <div class="garantia">
            <%if (product.warranty != "") {%>
            <h5><i class="fas fa-user-shield"></i> Garantia de <%=product.warranty%> meses  </h5>
            <% }else { %> 
              <h5>Sin Garantia</h5>
              <% } %> 

            <%if (product.stock >= 1) {%>
            <h5><i class="fas fa-check"></i> Disponible </h5>
            <% }else { %> 
              <h5>Sin Stock </h5>
                     <% } %> 

            <%if (product.ship === 1) {%>
            <h5><i class="fas fa-truck"></i> Envíos a todo el país </h5>
            <% }else { %> 
              <h5>Solo retiro por sucursal </h5>
                     <% } %> 
            
          </div>
        </div>
        <div class="fotoproducto">
          <div class="fotoProducto">
            <img src="../../images/products/<%=product.image%>" alt="foto del producto">
          </div>
        </div>
      </article>
      <article>
        <div>
          <h2 class="armamos-tu-setup2">
            Preguntas Sobre el Producto
          </h2>
        </div>
        <div>
          <input type="search">
        </div>
        <a href="./Edicion/<%=product.id%>"><button>EDITAR</button></a>
        <form action="../Eliminacion/<%=product.id%>?_method=DELETE" method="post"  >
          <button type="submit">Borrar</button></a>
        </form>

          

      </article>
    </main>


  <%- include ("../partials/footer.ejs") %> 
</body>
</html>